@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  font-family: arial, sans-serif;
  float: left;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #63c2ee;
}
a,
a:hover {
  transition: all.2s ease;
}
.header_1 {
    z-index: 111111;
    position: fixed;
}
.header_line_1 {
    position: absolute;
    width: 1920px;
    height: 43px;
    background-color: #262d44;
    vertical-align: middle;
    z-index: 2;
}
.header_line {
    position: absolute;
    top: 42px;
    width: 1920px;
    height: 61px;
    z-index: 3;
}
.header_line_2 {
    display: none;
}
.header_line_2.scroll {
    position: absolute;
    top: 41px;
    width: 1920px;
    height: 61px;
    z-index: 3;
    display: block;
    border: 1px solid #9396a2;
}
.header_line.scroll > img {
    display: none;
}
.e-mail {
    position: absolute;
    left: 421px;
    top: 12px;
    width: 20px;
    z-index: 2;
}
.w-mail {
    position: absolute;
    top: 12px;
    left: 453px;
    width: 119px;
    height: 14px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 400;
    z-index: 2;
}
.icon-phone {
    position: absolute;
    left: 619px;
    top: 10px;
    z-index: 2;
}
.phone {
    position: absolute;
    top: 11px;
    left: 651px;
    height: 13px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    z-index: 2;
}
.search {
    position: absolute;
    top: 7px;
    left: 801px;
    width: 306px;
    background-color: #ffffff;
    height: 28px;
    z-index: 2;
}
.loupe {
    position: absolute;
    top: 10px;
    left: 1080px;
    z-index: 2;
}
.logo-2 {
    position: absolute;
    top: 47px;
    left: 365px;
    z-index: 4;
    display: block;
}
.logo-2.scroll {
    display: none;
}
.logo-1 {
    display: none;
}
.logo-1.scroll {
    position: absolute;
    top: 47px;
    left: 365px;
    z-index: 4;
    display: block;
}
.common {
    position: absolute;
    left: -17px;
}
.backgroud {
    position: absolute;
    z-index: 1;
}
.overlay {
    position: absolute;  
    z-index: 1;
}
.border_white {
    position: absolute;
    top: 54px;
    left: 672px;
    z-index: 1;    
}
.add_order {
    position: absolute;
    top: 63px;
    left: 696px;
    z-index: 3;
    height: 13px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 500;
    width: 250px;
}
.border_white_2 {
    position: absolute;
    top: 54px;
    left: 1038px;
    z-index: 1;
}
.will_contractor {
    position: absolute;
    top: 63px;
    left: 1047px;
    z-index: 3;
    height: 13px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 500;
    width: 300px;
}
.border_white.scroll {
    position: absolute;
    top: 54px;
    left: 672px;
    z-index: 3;
    border: 1px solid black;
}
.border_white_2.scroll {
    position: absolute;
    top: 54px;
    left: 1038px;
    z-index: 3;
    border: 1px solid black;
}
.add_order.scroll {
    color: #54576a;
}
.will_contractor.scroll {
    color: #54576a;
}
.login {
    position: absolute;
    left: 1426px;
    top: 64px;
    z-index: 4;
    width: 128px;
    font-family: "Fira Sans";
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.login_button {
    position: absolute;
    left: 1426px;
    top: 55px;
    z-index: 3;
    height: 35px;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.25);
    background-color: #098ad0;
    width: 128px;
}
.h1 {
    position: absolute;
    top: 193px;
    left: 564px;
    z-index: 4;
}
.p1 {
    position: absolute;
    top: 340px;
    left: 664px;
    z-index: 4;
    height: 24px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 400;
    width: 694px;
}
.enter_service {
    position: absolute;
    top: 425px;
    left: 551px;
    z-index: 4;
    height: 66px;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.92);
    background-color: #ffffff;
    width: 803px;
    color: #54626b;
    font-family: "Fira Sans";
    font-size: 21px;
    font-weight: 400;
    
}
.button_2 {
    position: absolute;
    top: 426px;
    left: 1114px;
    z-index: 5;
    cursor: pointer;
}
.add_order_2 {
    position: absolute;
    top: 447px;
    left: 1139px;
    z-index: 5;
    cursor: pointer;
    height: 21px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 500;
    width: 192px;
}
.p2 {
    position: absolute;
    top: 511px;
    left: 554px;
    z-index: 4;
    width: 750px;
    height: 18px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: italic;
}
.cup {
    position: absolute;
    top: 567px;
    left: 908px;
    z-index: 4;
}
.p3 {
    position: absolute;
    top: 675px;
    left: 674px;
    z-index: 4;
    width: 672px;
    height: 21px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 400;
}
.double_down {
    position: absolute;
    top: 724px;
    left: 935px;
    z-index: 4;
}






.tabs {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    left: auto;
    top: 1250px;
    text-align: center;
}
.tabs > input {
    width: 100%;
    display: none;
}
.tabs > div {
    padding: 12px;
    display: none;
}
.tabs > label {
    display: inline-block;
    padding: 17px;
    margin: 0 -5px 65px 0;
    text-align: center;
    cursor: pointer;
}
.tabs > input:checked + label {
    color: #000000;
}
.ff {
    position: absolute;
    left: 297px;
    top: 173px;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4,
#tab_5:checked ~ #txt_5,
#tab_6:checked ~ #txt_6 {display: block;}